{% extends "newspost/base.html" %}

{% load static %}

{% block content %}
<tr id="pagespace" title="" style="height:10px"></tr><tr id='maintain'><td class='tableincrease'>
  <div id='replace' class='this'>
<table border="0" cellpadding="0" cellspacing="0" class="itemlist" id="items">
  {% include 'newspost/posts.html' %}
    </table>
</div>
<div id='replace1'>

  </div>


<div class="cdp" actpage="1">
  <a href="#!-1"  class="cdp_i" >prev</a>
  {% with  count=1 %}
  {% for i in pages %}
  <a href="#!{{ count|add:i }}" class="cdp_i" id='lazyLoadLink' data-page='{{i}}'>{{count|add:i }}</a>
{% endfor %}
  {% endwith %}
  <a href="#!+1"  class="cdp_i">next</a>
  }
</div>
</td></tr>

{% endblock %}
{% block javascript %}

<script type="text/javascript">
      // A CSRF token is required when making post requests in Django
      // To be used for making AJAX requests in script.js
      window.CSRF_TOKEN = "{{ csrf_token }}";

    </script>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}

